* {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.parent {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    padding: 3rem;
    width: 30%;
    height: 10%;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

#btn {
    border-radius: 5px;
    margin-top: 5px;
    height: 2rem;
    width: 5rem;
    background-color: #ECDDD0;
    font-family: 'Lobster', cursive;
}

#btn:hover {
    color: #000;
    background-color: brown;
    border-style: dotted;
    transition: 0.5s ease;
}

#author {
    margin-top: 2rem;
    float: right;
    font-family: 'Lobster', cursive;
}

#quote {
    font-family: 'Lobster', cursive;
}